{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}
            {% endblock title %}</title>

        <link rel="stylesheet" href="{% static 'css/base_style.css' %}">


        <style>
            {% comment %} body {
                direction: rtl;
            } {% endcomment %}
        </style>

    </head>

    <body>
        <div class="container">
            <div id="header">
                {% include 'header.html' %}
            </div>
            <div>
                <div id="content">
                    {% block content %}
                    {% endblock content %}
                </div>

                <div id="footer">
                    {% include 'footer.html' %}
                </div>
            </div>
        </div>
        {% comment %} 
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script> 
        {% endcomment %}
    </body>

</html>