{% load static %}

<!DOCTYPE html>  
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <style>
    @font-face {
  font-family: iransans;
  src: url({% static 'font/Iranian Sans.ttf' %});
}
    </style>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    
    <!-- <script src="jquery-3.5.1.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/sub-product/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub-product/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub-product/overlay.css'%}">

    <style>
    .product-empty {
  background-image: url({% static 'imgs/add.png' %});
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 35%;
  opacity: 65%;
  border-style: dashed;
  border-width: 8px;
  border-color: #9a9996;
}
.product-empty:hover{
  filter: drop-shadow(0px 0px 10px gray);
}

    </style>



    <script>
        var removeSuccess;

        removeSuccess = function () {
            return jQuery('.button').removeClass('success');
        };

        jQuery(document).ready(function () {
            return jQuery('.button').click(function () {
                jQuery(this).addClass('success');
                return setTimeout(removeSuccess, 3000);
            });
        });

        function show_product(element_id) {

            var visi = document.getElementById(element_id).style.visibility;
            if (visi == "hidden") {

                document.getElementById(element_id).style.visibility = 'visible';
                disableScroll();
            } else {

                document.getElementById(element_id).style.visibility = 'hidden';
                enableScroll();
            }
        }       

                var keys = { 37: 1, 38: 1, 39: 1, 40: 1 };

        function preventDefault(e) {
            e.preventDefault();
        }

        function preventDefaultForScrollKeys(e) {
            if (keys[e.keyCode]) {
                preventDefault(e);
                return false;
            }
        }

        // modern Chrome requires { passive: false } when adding event
        var supportsPassive = false;
        try {
            window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
                get: function () { supportsPassive = true; }
            }));
        } catch (e) { }

        var wheelOpt = supportsPassive ? { passive: false } : false;
        var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

        // call this to Disable
        function disableScroll() {
            window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
            window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
            window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
            window.addEventListener('keydown', preventDefaultForScrollKeys, false);
        }

        // call this to Enable
        function enableScroll() {
            window.removeEventListener('DOMMouseScroll', preventDefault, false);
            window.removeEventListener(wheelEvent, preventDefault, wheelOpt);
            window.removeEventListener('touchmove', preventDefault, wheelOpt);
            window.removeEventListener('keydown', preventDefaultForScrollKeys, false);
        }


        function hello() {
            console.log("hello")
        }


    </script>


</head>

<body>


    <div class="content" id="content">

        <div class="sub-category-rows" id="sub-category-rows">

            <button id="swipe-bt-sub-category-R" class="swipe_bt swipe_r" type="button">Right</button>
            
            <a href="asus.html">
                <div class="sub-category-items" id="sub-category-items">
                    <div class="img_brand"><img src="asus.png" alt="brand_name"></div>
                </div>
            </a>

            <button id="swipe-bt-sub-category-L" class="swipe_bt swipe_l" type="button">Left</button>
            <script>
                const buttonRight = document.getElementById('swipe-bt-sub-category-R');
                const buttonLeft = document.getElementById('swipe-bt-sub-category-L');

                buttonRight.onclick = function () {
                    document.getElementById('sub-category-rows').scrollLeft += 250;
                };
                buttonLeft.onclick = function () {
                    document.getElementById('sub-category-rows').scrollLeft -= 250;
                };
            </script>
        </div>


        <div class="products_v2">
            
            {% block product-items %}
            {% endblock product-items %}

            <button class="product-empty product">

            </button>


        </div>


        <br>
        <br>


        <br>
        <br>


    </div>


<footer style="position: absolute; bottom: 0;">

        All rights reserved <i class="fas fa-copyright"></i>

</footer>




</body>

</html>