{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>signin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'css/profile-style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

</head>

<body>

    {% if messages %}
    <div class="notify">
        {% for message in messages %}
        <span id="notifyType" class=""></span>
        <style>
            .success:before {
                Content:"{{message}}";
                margin-top: 1%;
            }
        </style>

        {% endfor %}
    </div>


    {% endif %}

    {% block verification-code %}
    {% endblock verification-code %}

    {% block redirect-to-profile %}
    {% endblock redirect-to-profile %}
    <div class="container" id="container">
        <div class="form-container sign-up-container">

            {% block signup %}
            {% endblock signup %}


        </div>
        <div class="form-container sign-in-container">

            {% block signin %}
            {% endblock signin %}


        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script>


        var signUpButton = document.getElementById('signUp');
        var signInButton = document.getElementById('signIn');
        var container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });


        $(".notify").toggleClass("active");
        $("#notifyType").toggleClass("success");

        setTimeout(function () {
            $(".notify").removeClass("active");
            $("#notifyType").removeClass("success");
        }, 3000);

    </script>
</body>

</html>