body {
    background-image:    url(back.jpeg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    overflow: hidden;
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: right center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    opacity: 0.25;
}
input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}

.btn {
    position: relative;
    left: 95%;
    bottom: 35%;
    background-color: #ddd;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 80px;
    opacity: 0.4;
  }

  .btn :hover{
    background-color: darkorange;
  }
  .btn2 {
    position: fixed;
    right: 95%;
    bottom: 90%;
    background-color: #ddd;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.4;
  }
  .btn3 {
    position: fixed;
    right: 2%;
    top: 82%;
    background-color: #ddd;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.4;
  }
  .btn4 {
    position: fixed;
    left: 2%;
    top: 88%;
    background-color: #ddd;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.4;
  }
  .loader {
    border-right: 4px solid cornsilk;
    border-left: 4px solid cornsilk;
    border-radius: 50%;
    margin: 0% 31%;
    border-top: 4px solid cornsilk;
    border-bottom: 4px solid cornsilk;
    width: 500px;
    height: 500px;
}
.dot {
    height: 100px;
    width: 100px;
    background-color:darkviolet;
    border-radius: 50%;
    display: inline-block;
    margin: -25% 28%;
  }
  .btn5 {
    position: fixed;
    left: 30%;
    top: 46%;
    background-color:darkviolet;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
  }
  .dot2 {
    height: 80px;
    width: 80px;
    background-color:gold;
    border-radius: 50%;
    display: inline-block;
    margin: -25% 64.5%;
  }
  .btn10 {
    position: fixed;
    right: 31%;
    top: 43%;
    background-color:gold;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 50px;
  }
  

  .squere
  {
      width: 50px;
      height: 50px;
      background-color: grey;
      visibility: hidden;
  }
  .square {
    display: inline-block;
    position: fixed;
    top: 5%;
    left: 83%;
    width: 150px;
    height: 100px;
    background:cyan;
    /* box-shadow: 3px 3px 5px grey; */
    border-radius: 20%;
    padding: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    visibility: hidden;
    opacity: 0.4;
    border: mediumvioletred;
  }
  .btn6 {
    position: fixed;
    left: 84%;
    top: 17%;
    background-color:cyan;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
  }
  .btn7 {
    position: fixed;
    left: 87%;
    top: 17%;
    background-color:cyan;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
  }
  .btn8 {
    position: fixed;
    left: 90%;
    top: 17%;
    background-color:cyan;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
  }
  .dot4 {
    position: fixed;
    height: 120px;
    width: 120px;
    background-color:deeppink;
    border-radius: 50%;
    display: inline-block;
    margin: -9% 57%;
  }
  .btn11 {
    position: fixed;
    left: 60%;
    top: 80%;
    background-color:deeppink;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
  }

  .dot5 {
    position: fixed;
    height: 60px;
    width: 60px;
    background-color:greenyellow;
    border-radius: 50%;
    display: inline-block;
    margin: -8% 34%;
  }
  .btn12 {
    position: fixed;
    left: 34.78%;
    top: 77%;
    background-color:greenyellow;
    border:red;
    padding: 15px 20px;
    text-align: center;
    text-decoration: violet;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
  }
  .jupyter{
    position: fixed;
    top: 50%;
    left: 50%;
  }



/*/////////////////////////////*/
  .dot11 {
    height: 100px;
    width: 100px;
    background-color:darkviolet;
    border-radius: 50%;
    display: inline-block;
    margin: -25% 28%;
    visibility: hidden;
  }
  .dot12 {
    position: fixed;
    height: 60px;
    width: 60px;
    background-color:greenyellow;
    border-radius: 50%;
    display: inline-block;
    margin: -8% 34%;
    visibility: hidden;
  }
  .dot13 {
    position: fixed;
    height: 120px;
    width: 120px;
    background-color:deeppink;
    border-radius: 50%;
    display: inline-block;
    margin: -9% 57%;
    visibility: hidden;
  }
  .dot14 {
    height: 80px;
    width: 80px;
    background-color:gold;
    border-radius: 50%;
    display: inline-block;
    margin: -24% 64.5%;
    visibility: hidden;
  }

  