{% load static %}
{% load product_tags %}
<head>
 <link rel="stylesheet" href="{% static 'css/cart/style.css' %}">
      {% comment %} <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}"> {% endcomment %}
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

</head>

<body>
</div>
  <a href='{% url 'categories' %}'>

    <h1 style="text-align:center">
      Jupiter Shop
    </h1>
    <br>
    <br>
    <br>
  </a>
<h3>Shopping Cart</h3>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

    {% for item in request.cart_items %}
    
  <div class="product">
    <div class="product-image">
      <img src="http://{{request.META.HTTP_HOST}}/media/{{item.product.image}}">
    </div>
    <div class="product-details">
      <div class="product-title">{{item.product.name}} </div>
      <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
    </div>
    <div class="product-price">{{item.product.my_price}} </div>
    <div class="product-quantity">
    <from method='POST' action="http://{{request.META.HTTP_HOST}}{% url 'set-qty-in-cart' item.product.id %}">
    {% csrf_token %} 
      <input type="number" name="set-qty" value="{{item.qty}}" min="1">
      <button type="submit">OK</button>
    </form> 
    </div>
    <div class="product-removal">
      <button OnClick=" location.href='http://{{request.META.HTTP_HOST}}{% url 'add-to-cart' item.product.id %}?next=http://127.0.0.1:8000/cart/;'" class="remove-product" style='background-color: #6b6;font-size:17px;width:25px;height:25px;'>
        +
      </button>
      <button OnClick=" location.href='http://{{request.META.HTTP_HOST}}{% url 'reduce-from-cart' item.product.id %}'" class="remove-product"   style='background-color: #cc7966;font-size:17px;width:25px;height:25px;'>
         - 
      </button>

      <button OnClick=" location.href='http://{{request.META.HTTP_HOST}}{% url 'remove-from-cart' item.product.id %}'" class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">{{item.product.my_price|multi:item.qty}} </div>
  </div>
    
    {% endfor %}
<!--


  <div class="product">
    <div class="product-image">
      <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
    </div>
    <div class="product-details">
      <div class="product-title">Nutro™ Adult Lamb and Rice Dog Food</div>
      <p class="product-description">Who doesn't like lamb and rice? We've all hit the halal cart at 3am while quasi-blackout after a night of binge drinking in Manhattan. Now it's your dog's turn!</p>
    </div>
    <div class="product-price">45.99</div>
    <div class="product-quantity">
      <input type="number" value="1" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">45.99</div>
  </div>
-->

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">71.97</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">3.60</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">15.00</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">{{request.cart_total}}</div>
    </div>
  </div>
      
      <button class="checkout">Checkout</button>

</div>
<!--
<script>
/* Set rates + misc */
var taxRate = 0.05;
var shippingRate = 15.00; 
var fadeTime = 300;


/* Assign actions */
$('.product-quantity input').change( function() {
  updateQuantity(this);
});

$('.product-removal button').click( function() {
  removeItem(this);
});


/* Recalculate cart */
function recalculateCart()
{
  var subtotal = 0;
  
  /* Sum up row totals */
  $('.product').each(function () {
    subtotal += parseFloat($(this).children('.product-line-price').text());
  });
  
  /* Calculate totals */
  var tax = subtotal * taxRate;
  var shipping = (subtotal > 0 ? shippingRate : 0);
  var total = subtotal + tax + shipping;
  
  /* Update totals display */
  $('.totals-value').fadeOut(fadeTime, function() {
    $('#cart-subtotal').html(subtotal.toFixed(2));
    $('#cart-tax').html(tax.toFixed(2));
    $('#cart-shipping').html(shipping.toFixed(2));
    $('#cart-total').html(total.toFixed(2));
    if(total == 0){
      $('.checkout').fadeOut(fadeTime);
    }else{
      $('.checkout').fadeIn(fadeTime);
    }
    $('.totals-value').fadeIn(fadeTime);
  });
}


/* Update quantity */
function updateQuantity(quantityInput)
{
  /* Calculate line price */
  var productRow = $(quantityInput).parent().parent();
  var price = parseFloat(productRow.children('.product-price').text());
  var quantity = $(quantityInput).val();
  var linePrice = price * quantity;
  
  /* Update line price display and recalc cart totals */
  productRow.children('.product-line-price').each(function () {
    $(this).fadeOut(fadeTime, function() {
      $(this).text(linePrice.toFixed(2));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });  
}


/* Remove item from cart */
function removeItem(removeButton)
{
  /* Remove row from DOM and recalc cart total */
  var productRow = $(removeButton).parent().parent();
  productRow.slideUp(fadeTime, function() {
    productRow.remove();
    recalculateCart();
  });
}
</script>
-->
</body>